@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply bg-neutral-900 h-full;
}

* {
    font-family: "Josefin Sans", sans-serif;
    @apply font-light text-gray-300;
}

@font-face {
    font-family: 'Broadway Engraved Regular';
    font-style: normal;
    font-weight: normal;
    src: url("/holiday_party/fonts/broadway_engraved_regular/broadway_engraved_regular.otf") format("opentype");
}

.broadway-text {
    font-family: 'Broadway Engraved Regular';
}
