<nav class="bg-neutral-900 flex items-center justify-between p-2 shadow-lg shadow-black z-10">
    <div class="flex items-center space-x-3">
        <a href="/"><img src="/images/booster_club_logo_transparent.png" class="w-[70px] m-1" alt="Wolves Booster Club Logo"/></a>
        <a href="/holiday_party/" class="broadway-text text-lg text-yellow-600 tracking-widest">
            Holiday Party
        </a>
    </div>
    <a href="mailto:wolvesboosterclub@gmail.com" class="text-slate-200 text-lg mr-4">
        Contact Us
    </a>
</nav>