{% set domain = "wolvesboosterclub.org" %}
{% set url = 'https://' + domain %}
<!DOCTYPE html>
<html lang="en" class="flex flex-col">
<head>
    <title>{% block title %}{% endblock %} | Wolves Booster Club</title>
    <meta charset="UTF-8">
	<meta name="author" content="Wolves Booster Club">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:type" content="website" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta property="og:title" content="{{ self.title() }}" />

	<meta name="description" content="{% block header_description %}{% endblock %}">
	<meta name="keywords" content="{% block header_keywords %}{% endblock %}">

	<meta property="og:url" content="{{ url }}{% block header_url %}{% endblock %}" />
	<meta property="og:image"
		content="{{ url }}{% block header_prev_image %}{% endblock %}" />
	<!-- Include this to make the og:image larger -->
	<meta property="og:description"
		content="{{ self.header_description() }}" />
	<meta name="theme-color" content="{% block header_prev_color %}{% endblock %}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;500;700&display=swap" rel="stylesheet">
	<link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/css/index.css"/>
    {% block extra_css %}{% endblock %}
    {% block header_js %}{% endblock %}
</head>
<body class="flex flex-col flex-grow">
    {% include "partials/_header.html" %}
	<div class="flex flex-grow justify-center">
		{% block body %}{% endblock %}
	</div>
    {% include "partials/_footer.html" %}

	<script>
		var navbarToggle = document.getElementById("nav-bar-toggle");
		var navbarDropdown = document.getElementById("nav-bar-dropdown");
		var navbarDropdownHeight = navbarDropdown.offsetHeight;
		var navbarDropdownShown = false;
		var contact_us_form = document.getElementById("contact_us_form");

		navbarDropdown.style.maxHeight = "0px";

		function toggleNavbarDropdown(show = null) {
			if (show === null) {
				show = navbarDropdownShown = !navbarDropdownShown;
			} else {
				navbarDropdownShown = show;
			}
			if (navbarDropdownShown)
				navbarDropdown.style.maxHeight = navbarDropdownHeight + "px";
			else
				navbarDropdown.style.maxHeight = "0px";
		}

		navbarToggle.addEventListener("click", (event) => {
			toggleNavbarDropdown();
			event.preventDefault();
		});

		window.addEventListener("click", (event) => {
			if (!navbarDropdown.contains(event.target) && !navbarToggle.contains(event.target) && navbarDropdownShown) {
				toggleNavbarDropdown(false);
				event.preventDefault();
			}
		});

		document.addEventListener("DOMContentLoaded", (event) => {
			fetch("https://contact_us.{{ domain }}/csrf")
			.then(response => response.text())
			.then(content => {
				var csrf_input = document.getElementById("contact_us_csrf");
				csrf_input.value = content;
			})
			.catch(error => {
				console.log(error);
				var elements = contact_us_form.elements;
				for (var i = 0, len = elements.length; i < len; i++) {
					elements[i].disabled = true;
				}
				var contact_us_error = document.getElementById("contact_us_error");
				contact_us_error.classList.toggle("hidden");
			});
		});

		contact_us_form.addEventListener("submit", (event) => {
			console.log("submitted");
			event.preventDefault();
		});
	</script>

    {% block footer_js %}{% endblock %}
</body>
</html>