{% extends '_base.html' %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="flex flex-col flex-grow p-10 gap-10 text-gray-300">
    {% set container_style = "bg-neutral-800 p-5 flex-grow shadow-xl shadow-black rounded-xl border-neutral-700 border-2" %}
    <div class="flex flex-col lg:flex-row flex-wrap gap-10">
        <div class="flex flex-grow flex-col">
            <p class="text-2xl m-2 mb-0 ml-5  shadow-half-clear-white drop-shadow-glow">News</p>
            <div class="{{ container_style }}">
                
            </div>
        </div>
        <div class="flex flex-grow flex-col">
            <p class="text-2xl m-2 mb-0 ml-5  shadow-half-clear-white drop-shadow-glow">Events</p>
            <div class="{{ container_style }}">
                
            </div>
        </div>
    </div>
    <div class="flex flex-col">
        <p class="text-2xl m-2 mb-0 ml-5 shadow-half-clear-white drop-shadow-glow">Gallery</p>
        <div class="{{ container_style }}">
            
        </div>
    </div>
</div>

{% endblock %}